.card-container img {
  max-width: 90%;
  margin-block-end: 0.3rem;
  border-radius: 5px;
  box-shadow: 0.1px 0.2px 3px black;
}

.card-container {
  min-height: 200px;
  max-width: 170px;
  margin-block-end: 1rem;
  background-color: #080600;
  border: none;
}

.card-container:hover {
  background-color: #191919;
}

.card-title {
  font-size: 0.9rem;
}

.card-text {
  font-size: 0.9rem;
}
